{% extends "base.html" %}

{% block title %}Подключения{% endblock %}
{% block head %}
		<nav aria-label="breadcrumb">
		  <ol class="breadcrumb">
		  	<li class="breadcrumb-item"><a href="{% url 'device' %}">Список устройств</a></li>
		  	<li class="breadcrumb-item"><a href="{% url 'connections_on_dev' source.pk %}">Вернуться к подключению только на {{ source.ip }} </a></li>
		    <li class="breadcrumb-item">Все подключения от {{ source.ip }} {{ source.comment }} </li>
		  </ol>
		</nav>
{% endblock %}

{% block main %}
		<table class="table table-hover w-50">
		{% for dev, color, connection in connections %}
		
			<tr>
				<td bgcolor="{{ color }}">
					{{ dev.model.type }}&nbsp;{{ dev.model.model }}
				</td>
				<td>
					сети&nbsp;
				</td>				
				<td bgcolor="{{ color }}">
					<a style="text-decoration:none;" href="{% url 'path_to_dev' dev.pk %}">{{ dev.ip }}</a>
				</td>
			</tr>
			{% for connect in connection %}
			<tr>
				<td>
					{{ connect.connected }}
				</td>
				<td>
					{{ connect.ip_client }}
				</td>
				<td>
					{{ connect.port }}port{{ connect.vlan }}
				</td>
			</tr>
			{% endfor %}
		
		{% endfor %}
		</table>
{% endblock %}
