{% extends "base.html" %}

{% block title %}Подключения{% endblock %}
{% block head %}
		<nav aria-label="breadcrumb">
		  <ol class="breadcrumb">
		  	<li class="breadcrumb-item"><a href="{% url 'device' %}">Список устройств</a></li>
		  	<li class="breadcrumb-item"><a href="{% url 'connections_on_dev' source.pk %}">Вернуться к подключению только на {{ source.ip }} </a></li>
		    <li class="breadcrumb-item">Все подключения от {{ source.ip }} {{ source.comment }} </li>
		  </ol>
		</nav>
{% endblock %}

{% block main %}
		<table class="table table-sm table-hover w-75">
		{% for dev, color, connect in connections %}
			<thead>
			<tr>
				<th bgcolor="{{ color }}">
					{{ dev.model.type }}&nbsp;{{ dev.model.model }}
				</th>
				<th>
					сети&nbsp;
				</th>				
				<th bgcolor="{{ color }}">
					<a style="text-decoration:none;" href="{% url 'path_to_dev' dev.pk %}">{{ dev.ip }}</a>
				</th>
				<th>
					комментарий&nbsp;
				</th>	
			</tr>
		</thead>
			{% for connection in connect %}
			<tr>
				<td>
					{{ connection.connected }}
				</td>
				<td>
					{{ connection.ip_client }}
				</td>
				<td>
					{{ connection.port }}port{{ connection.vlan }}
				</td>
				<td>
					{% include "comment_block.html" %}
				</td>
			</tr>
			{% endfor %}
		
		{% endfor %}
		</table>
{% endblock %}
