{% extends "base.html" %}

{% block title %}Подключения{% endblock %}
{% block head %} 
		<nav aria-label="breadcrumb">
		  <ol class="breadcrumb">
		  	<li class="breadcrumb-item"><a href="{% url 'device' %}">Список устройств</a></li>
		    <li class="breadcrumb-item"><a href="{% url 'all_connection' dev.pk %}" data-toggle="tooltip" data-placement="right" title="Показать все подключения от этого узла">
									    	Показать все подключения от {{ dev.ip }}
										</a>
			</li>
		  </ol>
		</nav>
{% endblock %}
 
{% block main %}
		<table border="1" cellpadding="2"
			<tr>
				<td bgcolor="{{ color }}">
					{{ dev.model.type }}&nbsp;{{ dev.model.model }}
				</td>
				<td>
					сети&nbsp;
				</td>				
				<td bgcolor="{{ color }}">
					<a href="{% url 'path_to_dev' dev.pk %}" data-toggle="tooltip" data-placement="right" title="Показать путь до данного узла">{{ dev.ip }}</a>
				</td>
			</tr>
			{% for connection in connections %}
			<tr>
				<td>
					{{ connection.connected }}
				</td>
				<td>
					{{ connection.ip_client }}
				</td>
				<td>
					{{ connection.port }}port{{ connection.vlan }}
				</td>
			</tr>
			{% endfor %}
		</table>
{% endblock %}

