{% extends "base.html" %}
{% load static %}

{% block title %}Подключения{% endblock %}
{% block head %} 
		<nav aria-label="breadcrumb">
		  <ol class="breadcrumb">
		  	<li class="breadcrumb-item"><a href="{% url 'device' %}">Список устройств</a></li>
		    <li class="breadcrumb-item"><a href="{% url 'all_connection' dev.pk %}" data-toggle="tooltip" data-placement="right" title="Показать все подключения от этого узла">
									    	Показать все подключения от {{ dev.ip }}
										</a>
			</li>
		  </ol>
		</nav>
{% endblock %}
 
{% block main %}
		{% if messages %}
			{% for message in messages %}
				{% if message.tags == "success" %} <div class="alert-success mb-2 w-50">
				{% elif message.tags == "error" %} <div class="alert-danger mb-2 w-50">
				{% else %} <div class="alert-secondary mb-2 w-50">{% endif %}
					{% autoescape off %} {{ message }} {% endautoescape %}
				</div>
			{% endfor %}
		{% endif %}
		<table class="table table-sm table-hover w-50">
			<tr>
				<td bgcolor="{{ color }}" colspan="2">
					{{ dev.model.type }}&nbsp;{{ dev.model.model }}
				</td>
				<td>
					сети&nbsp;
				</td>				
				<td bgcolor="{{ color }}">
					<a href="{% url 'path_to_dev' dev.pk %}" data-toggle="tooltip" data-placement="right" title="Показать путь до данного узла">{{ dev.ip }}</a>
				</td>
				<td>
					комментарий
				</td>
			</tr>
			{% for connection in connections %}
			<tr>
				<td>
          			<a class="alert-link text-dark" 
          			href="{% url 'edit_connection' dev.pk connection.pk %}" data-toggle="tooltip" data-placement="left" title="Редактировать подключение">
						<img src="{% static "img/edit.png" %}" width="20" height="20">
					</a>
				</td>
				<td>
					{{ connection.connected }}
				</td>
				<td>
					{{ connection.ip_client }}
				</td>
				<td>
					{{ connection.port }}port{{ connection.vlan }}
				</td>
				<td>
					{{ connection.comment }}
				</td>
				<td>
						<a href="" data-toggle="modal" data-target="#deleteModal{{ connection.pk }}" >
							<img src="{% static "img/delete.png" %}" width="20" height="20"title="Удалить подключение">
						</a>

						<!-- Modal -->
						<div class="modal fade" id="deleteModal{{ connection.pk }}" tabindex="-1" role="dialog" aria-labelledby="deleteModal{{ connection.pk }}" aria-hidden="true">
						  <div class="modal-dialog modal-dialog-centered" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="deleteModal{{ connection.pk }}">Удаление подключения!!!</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						        Удалить подключение:<br>
						        <b>{{ connection.connected }}
						        	{% if connection.ip_client > 0 %}
						        		({{ connection.ip_client }})&nbsp;
						        	{% endif %}
						    		{{ connection.port }}port
									{{ connection.vlan }}
								</b>
						      </div>
						      <div class="modal-footer">
						        <form action="{% url 'del_connection' dev.pk %}" method="post">
									<div class="form-group">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
										{% csrf_token %}
										<input type="hidden" name="connection_to_delete" value="{{ connection.pk }}">
										<input class="btn btn-outline-danger" type="submit" name="del_connection" value="Удалить">
									</div>
								</form>
						      </div>
						    </div>
						  </div>
						</div>
				</td>
			</tr>
			{% endfor %}
			<tr>
				<td colspan="5">
					<a class="alert-link text-dark" href="{% url 'add_connection' dev.pk %}" data-toggle="tooltip" data-placement="top" title="добавить подключение">
						<img src="{% static "img/add.png" %}" width="32" height="32">
					</a>
				</td>
			</tr>
		</table>
{% endblock %}

