{% extends "base.html" %}

{% block title %}Подключения{% endblock %}
{% block head %} Подключения на <a href="{% url 'all_connection' dev.pk %}" title="Показать все подключения от этого узла">
									{{ dev.ip }} 
								</a>
{% endblock %}
 
{% block main %}
		<table class="table table-bordered">
			<tr>
				<td bgcolor="{{ color }}">
					{{ dev.model.type }}&nbsp;{{ dev.model.model }}
				</td>
				<td>
					сети&nbsp;
				</td>				
				<td bgcolor="{{ color }}">
					<a href="{% url 'path_to_dev' dev.pk %}" title="Показать путь до данного узла">{{ dev.ip }}</a>
				</td>
			</tr>
			{% for connection in connections %}
			<tr>
				<td>
					{{ connection.connected }}
				</td>
				<td>
					{{ connection.ip_client }}
				</td>
				<td>
					{{ connection.port }}port{{ connection.vlan }}
				</td>
			</tr>
			{% endfor %}
		</table>
{% endblock %}

