{% extends "base.html" %}
{% load static %}

{% block title %}Подключения{% endblock %}
{% block head %} 
		<nav aria-label="breadcrumb">
		  <ol class="breadcrumb">
		  	<li class="breadcrumb-item"><a href="{% url 'device' %}">Список устройств</a></li>
		    <li class="breadcrumb-item">
		    	<a href="{% url 'all_connection' dev.pk %}" data-toggle="tooltip" data-placement="right" title="Показать все подключения от этого узла">
					Показать все подключения от {{ dev.ip }}
				</a>
			</li>
		  </ol>
		</nav>
{% endblock %}
 
{% block main %}
		<table class="table table-sm w-75">
			<thead>
				<tr>
					<th scope="col" bgcolor="{{ color }}">
						{{ dev.model.type }}&nbsp;{{ dev.model.model }}
					</th>
					<th scope="col">
						сети&nbsp;
					</th>				
					<th scope="col" bgcolor="{{ color }}">
						<a href="{% url 'path_to_dev' dev.pk %}" data-toggle="tooltip" data-placement="right" title="Показать путь до данного узла">{{ dev.ip }}</a>
					</th>
					<th scope="col" >
						комментарий
					</th>	
				</tr>
			</thead>
			{% for connection in connections %}
				{% if connection.pk == id_con %}
					<form action="" method="post">
					{% csrf_token %}
						<tr>
							<td>
								<small class="form-text text-muted">{{ form.connected.help_text }}</small>
								{{ form.connected }}
							</td>
							<td>
								<small class="form-text text-muted">{{ form.ip_client.help_text }}</small>
								{{ form.ip_client }}
							</td>
							<td>
								{% include "port_form_radio.html" %}
								<small class="form-text text-muted">{{ form.vlan.help_text }}</small>
								{{ form.vlan }}
							</td>
							<td>
								<small class="form-text text-muted">{{ form.comment.help_text }}</small>
								{{ form.comment }}
							</td>
						</tr>
					{% else %}
						<tr>
							<td>
								{% if 'UP to' in connection.connected.0 or 'DOWN to' in connection.connected.0 %}
									<a href="{% url 'connections_on_dev' connection.connected.1.pk %}" data-toggle="tooltip" data-placement="top" 
									title="Показать подключения на данном устройстве">{{ connection.connected.0 }}</a>
								{% else %}
									{{ connection.connected }}
								{% endif %}
							</td>
							<td>
								{{ connection.ip_client }}
							</td>
							<td>
								{% include 'port_block.html' %}
							</td>
							<td>
								{{ connection.comment }}
							</td>
						</tr>
					{% endif %}
			{% endfor %}
						<tr>
							<td colspan="4">
								<input class="btn btn-outline-secondary" type="submit" name="add_device" value="Сохранить">
								<a href="{% url 'connections_on_dev' dev.pk %}" class="btn btn-outline-secondary">Отменить</span></a>
							</td>
						</tr>
					</form>
		</table>
{% endblock %}

