{% extends "base.html" %}

{% block title %}Подключения{% endblock %}
{% block head %} Путь до {{ to_dev.ip }} {% endblock %}
{% block main %}
		<table class="table table-hover w-50">

			<tr><td align="center">
				{% for dev, color in path %}
					
						<a style="background: {{ color }}" href="{% url 'connections_on_dev' dev.pk %}" title="Показать подключения на данном устройстве">{{ dev.ip }}</a>
						{% if forloop.last %}
							:{{ dev.incoming_port }} <font size="4" color="red"><b>&#8596;</b></font> CISCO
						{% else %}
							:{{ dev.incoming_port }}<font size="4" color="red"><b>&#8596;</b></font> {{ dev.up_connect_port }}:
						{% endif %}
					
				{% endfor %}
			</tr></td>
		</table>
{% endblock %}
