{% extends "base.html" %}

{% block title %}Подключения{% endblock %}
{% block head %} Путь до {{ to_dev.ip }} {% endblock %}
{% block main %}
		<table>
			<tr>
				{% for dev, color in path %}
					<td align="center">
						{{ dev.model.type }}
					</td>
					<td>

					</td>
				{% endfor %}
			</tr>
			<tr>
				{% for dev, color in path %}
					<td align="center" bgcolor="{{ color }}">
						<a href="{% url 'connections_on_dev' dev.pk %}" title="Показать подключения на данном устройстве">{{ dev.ip }}</a>
					</td>
					<td>
						{% if forloop.last %}
							-{{ dev.incoming_port }}port--CISCO
						{% else %}
							-{{ dev.incoming_port }}port--{{ dev.up_connect_port }}port-
						{% endif %}
					</td>
				{% endfor %}
			</tr>
		</table>
{% endblock %}
