{% load static %}
<!DOCTYPE html>
 
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet"  type="text/css" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet"  type="text/css" href="{% static "css/intranet.css" %}">

  </head>
  <body class="bg-light">

    <header>
      <div class="container bg-secondary mw-100 p-2">
        <div class="row">
          <div class="col">
            {% if region %}
              {% if city %}
                <form action="{% url 'dev_list_city' region city %}">
              {% else %}
                <form action="{% url 'dev_list_region' region %}">
              {% endif %}  
            {% else %}
            <form action="{% url 'dev_list' %}">
            {% endif %}  
            <div class="form-group form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Поиск" aria-label="Search" name="search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
            </div>
            <div class="form-group  my-sm-0">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck" name="only_dev">
                <label class="form-check-label" for="gridCheck">Искать устройство</label>
              </div>
            </div>
  
            </form>
          </div>
          <div class="col" align="right">
             {% if user.is_authenticated %}
              <table>
                <tr><td class="text-white"><b>{{ user }}</b></td></tr>
                <tr><td><a class="text-light" href="{% url 'logout' %}">Выйти</a></td></tr>
              </table>
             {% else %}
              <a class="text-light" href="{% url 'login' %}">Войти</a>
             {% endif %}
          </div>
        </div>
      </div>
    </header>

    <main role="main">
      <div class="container mw-100 p-2">
        <div class="row">
          <div class="col">
            <table>
              {% if perms.models_device.add_device %}
              <tr>
                <td>
                  {% if region %}
                  {# Если регион выбран, выводим его название #}
                      
                  {# Если город выбран, выводим его название #}
                      {% if city %}
                        <a class="alert-link text-dark" href="{% url 'device_add_city' region city %}">Добавить устройство</a>
                      {% else %}
                        <a class="alert-link text-dark" href="{% url 'device_add_reg' region %}">Добавить устройство</a>
                      {% endif %}

                  {# Если регион не выбран #}
                  {% else %}
                      <a class="alert-link text-dark" href="{% url 'device_add' %}">Добавить устройство</a>
                  {% endif %}
                </td>
              </tr>
              {% endif %}
                          
              <tr>
                <td>
                  <a class="alert-link text-dark" href="{% url 'device' %}">Список всех устройств</a>
                </td>
              </tr>
<!--               <tr>
                <td>
                  <a class="alert-link text-dark" href="#">Поиск устройства</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a class="alert-link text-dark" href="#">Поиск клиента</a>
                </td>
              </tr> -->
            </table>
            
          </div>
          <div class="col-10">

                <div class="row">
                  <div class="col">
                    <small>
                    {% block head %}
                    {% endblock %}
                    </small>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <small>
                    {% block main %}
                    {% endblock %}
                    </small>
                  </div>
                </div>

          </div>
        </div>
      </div>
    </main>
  <script src="{% static "js/jquery.js" %}"></script>
  <script src="{% static "js/popper.min.js" %}"></script>
  <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
    </script>
  </body>
</html>