{% extends "base.html" %}
{% load static %}

{% block title %}Список устройств{% endblock %}
{% block head %}

	{% if region %}
{# Если регион выбран, выводим его название #}
		
{# Если город выбран, выводим его название #}
		{% if city %}
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			  	<li class="breadcrumb-item"><a href="{% url 'device' %}">Все регионы</a></li>&nbsp;/&nbsp;
			  	<div class="btn-group">
			  	<li class="breadcrumb-item dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			  		<a href="#">{{ region }}</a></li>&nbsp;/&nbsp;
  				<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
					{% for reg in regions %}
								<a class="dropdown-item" href="{% url 'device' %}{{ reg }}/" title="Показать подключения в регионе {{ reg }}">
									{{ reg }}
								</a>
					{% endfor %}
				</div>
</div><div class="btn-group">
  				<li class="breadcrumb-item dropdown-toggle" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    				<a href="#"><b>{{ city }}</b></a>
  				</li>
  				<div class="dropdown-menu" aria-labelledby="dropdownMenu3">
					{% for city in cities %}
							<a class="dropdown-item" href="{% url 'dev_list_city' region city.city %}" title="Показать подключения в городе {{ city.city }}">{{ city.city }}</a>
					{% endfor %}
				</div>
			</div>
			  </ol>
			</nav>
		{% else %}
{# Если город не выбран, выводим список городов при выбранном регионе #}
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			  	<li class="breadcrumb-item"><a href="{% url 'device' %}">Все регионы</a></li>&nbsp;/&nbsp;
			  	<div class="btn-group">
			  	<li class="breadcrumb-item dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			  		<a href="#"><b>{{ region }}</b></a></li>&nbsp;/&nbsp;
  				<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
					{% for reg in regions %}
								<a class="dropdown-item" href="{% url 'device' %}{{ reg }}/" title="Показать подключения в регионе {{ reg }}">
									{{ reg }}
								</a>
					{% endfor %}
				</div>
</div><div class="btn-group">
  				<li class="breadcrumb-item dropdown-toggle" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    				<a href="#">Выбрать город</a>
  				</li>
  				<div class="dropdown-menu" aria-labelledby="dropdownMenu3">
					{% for city in cities %}
							<a class="dropdown-item" href="{% url 'dev_list_city' region city.city %}" title="Показать подключения в городе {{ city.city }}">{{ city.city }}</a>
					{% endfor %}
				</div>
			</div>
			  </ol>
			</nav>
		{% endif %}
{# Если регион не выбран, выводим список регионов #}
	{% else %}
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			  	<li class="breadcrumb-item active">Все регионы</li>
	  				<li class="breadcrumb-item dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    				<a href="#">Выбрать регион</a>
	  				</li>
  				<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
		{% for reg in regions %}
					<a class="dropdown-item" href="{% url 'device' %}{{ reg }}/" title="Показать подключения в регионе {{ reg }}">
						{{ reg }}
					</a>
		{% endfor %}
				</div>
			  </ol>
			</nav>

	{% endif %}
{% endblock %}

{% block main %}
		{% if messages %}
			{% for message in messages %}
				{% if message.tags == "success" %} <div class="alert-success mb-2 w-50">
				{% elif message.tags == "error" %} <div class="alert-danger mb-2 w-50">
				{% else %} <div class="alert-secondary mb-2 w-50">{% endif %}
					{% autoescape off %} {{ message }} {% endautoescape %}
				</div>
			{% endfor %}
		{% endif %}
			<table class="table table-sm table-hover w-50">
			{% for dev in object_list %}
			<tr>
				<td>
					{% if perms.models_device.change_device %}
	          			{% if region %}
						{# Если регион выбран, выводим его название #}
						    
						{# Если город выбран, выводим его название #}
						    {% if city %}
						      <a class="alert-link text-dark" href="{% url 'device_edit_city' region city dev.pk %}" data-toggle="tooltip" data-placement="top" title="Редактировать устройство">
						        <img src="{% static "img/edit.png" %}" width="20" height="20">
						      </a>
						    {% else %}
						      <a class="alert-link text-dark" href="{% url 'device_edit_reg' region dev.pk %}" data-toggle="tooltip" data-placement="top" title="Редактировать устройство">
						        <img src="{% static "img/edit.png" %}" width="20" height="20">
						      </a>
						    {% endif %}

						{# Если регион не выбран #}
						{% else %}
						    <a class="alert-link text-dark" href="{% url 'device_edit' dev.pk %}" data-toggle="tooltip" data-placement="top" title="Редактировать устройство">
						      <img src="{% static "img/edit.png" %}" width="20" height="20">
						    </a>
						{% endif %}
											{% endif %}	
				</td>
				<td>
					<a href="{% url 'connections_on_dev' dev.pk %}" data-toggle="tooltip" data-placement="top" title="Показать подключения на данном устройстве">
						{{ dev.ip }}
					</a>
				<td>
					{{ dev.comment }}
				</td>
				<td>
					{{ dev.model.model }}
				</td>
				<td>
					{% if perms.models_device.delete_device %}
						<a href="" data-toggle="modal" data-target="#deleteModal{{ dev.pk }}" ><img src="{% static "img/delete.png" %}" width="20" height="20"title="Удалить устройство"></a>

						<!-- Modal -->
						<div class="modal fade" id="deleteModal{{ dev.pk }}" tabindex="-1" role="dialog" aria-labelledby="deleteModal{{ dev.pk }}" aria-hidden="true">
						  <div class="modal-dialog modal-dialog-centered" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="deleteModal{{ dev.pk }}">Удаление устройства!!!</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						        Вы действительно хотите удалить устройство:<br><b>{{ dev.ip }}&nbsp;({{ dev.model.model }})&nbsp;{{ dev.city.city }}</b><br> и всё, что к нему подключено?
						      </div>
						      <div class="modal-footer">
						        <form action="{% url 'device_delete' %}" method="post">
									<div class="form-group">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
										{% csrf_token %}
										<input type="hidden" name="device_to_delete" value="{{ dev.pk }}">
										<input class="btn btn-outline-danger" type="submit" name="del_device" value="Удалить">
									</div>
								</form>
						      </div>
						    </div>
						  </div>
						</div>
						
					{% endif %}	
				</td>


				</td>
			</tr>
			{% endfor %}
			</table>
{# Пагинатор #}
			<div class="row">
          		<div class="col-4 p-3">
					{% if city %}
						{% include 'city_paginator.html' %}
					{% elif region %}
						{% include 'region_paginator.html' %}
					{% else %}
						{% include 'all_paginator.html' %}
					{% endif %}
				</div>
			</div>
{% endblock %}