{% extends "base.html" %}

{% block title %}Список устройств{% endblock %}
{% block head %}

	{% if region %}
{# Если регион выбран, выводим его название #}
		
{# Если город выбран, выводим его название #}
		{% if city %}
		<nav aria-label="breadcrumb">
		  <ol class="breadcrumb">
		  	<li class="breadcrumb-item"><a href="{% url 'device' %}">Все регионы</a></li>
		    <li class="breadcrumb-item"><a href="{% url 'dev_list_region' region %}">{{ region }}</a></li>
		    <li class="breadcrumb-item active" aria-current="page">{{ city }} </li>
		  </ol>
		</nav>

		{% else %}
{# Если город не выбран, выводим список городов при выбранном регионе #}
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			  	<li class="breadcrumb-item"><a href="{% url 'device' %}">Все регионы</a></li>
			    <li class="breadcrumb-item active" aria-current="page">{{ region }} </li>
			  </ol>
			</nav>
			<table  border="1" cellpadding="2">
				<tr>
			{% for city in cities %}
				<td>
					<a href="{% url 'dev_list_city' region city.city %}" title="Показать подключения в городе {{ city.city }}">{{ city.city }}</a>
				</td>
			{% endfor %}
				</tr>
			</table>

		{% endif %}
{# Если регион не выбран, выводим список регионов #}
	{% else %}
		<table  border="1" cellpadding="2">
			<tr>
		{% for reg in regions %}
			<td>
				<a href="{% url 'device'%}{{ reg }}/" title="Показать подключения в регионе {{ reg }}">{{ reg }}</a>
			</td>
		{% endfor %}
			</tr>
		</table>
	{% endif %}
{% endblock %}

{% block main %}
		<table  border="1" cellpadding="2">
			{% for dev in devices %}
			<tr>
				<td>
					<a href="{% url 'connections_on_dev' dev.pk %}" title="Показать подключения на данном устройстве">
						{{ dev.city }}&nbsp;&nbsp;&nbsp; {{ dev.ip }} {{ dev.model.model }}
					</a>
				</td>
			</tr>
			{% endfor %}
			<tr>
				<td align="right">
{# Пагинатор #}
					{% if devices.paginator.num_pages > 1%}
						<nav aria-label="pagunator">
				  			<ul class="pagination justify-content-center">
				  				{% if devices.has_previous %}
				  					<li class="page-item"><a class="page-link" href="{% url 'device' %}?page={{ devices.previous_page_number }}">Previous</a></li>
				  				{% endif %}

					  			{% for pn in devices.paginator.page_range %}
					  				{% if devices.number != pn %}
					  					<li class="page-item"><a class="page-link" href="{% url 'device' %}?page={{ pn }}">{{ pn }}</a></li>
					  				{% else %}
					  					<li class="page-item disabled"><a class="page-link" href="#">{{ pn }}</a></li>
					  				{% endif %}
					  			{% endfor %}

					  			{% if devices.has_next %}
				  					<li class="page-item"><a class="page-link" href="{% url 'device' %}?page={{ devices.next_page_number }}">Next</a></li>
				  				{% endif %}
				  			</ul>
				  		</nav>
				  	{% endif %}

				</td>
			</tr>
		</table>
{% endblock %}