{% extends "base.html" %}

{% block title %}Список устройств{% endblock %}
{% block head %}

	{% if region %}
{# Если регион выбран, выводим его название #}
		
{# Если город выбран, выводим его название #}
		{% if city %}
		<nav aria-label="breadcrumb">
		  <ol class="breadcrumb">
		  	<li class="breadcrumb-item"><a href="{% url 'device' %}">Все регионы</a></li>
		    <li class="breadcrumb-item"><a href="{% url 'dev_list_region' region %}">{{ region }}</a></li>
		    <li class="breadcrumb-item active" aria-current="page">{{ city }} </li>
		  </ol>
		</nav>

		{% else %}
{# Если город не выбран, выводим список городов при выбранном регионе #}
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			  	<li class="breadcrumb-item"><a href="{% url 'device' %}">Все регионы</a></li>
			    <li class="breadcrumb-item active" aria-current="page">{{ region }} </li>
			  </ol>
			</nav>
			<table  border="1" cellpadding="2">
				<tr>
			{% for city in cities %}
				<td>
					<a href="{% url 'dev_list_city' region city.city %}" title="Показать подключения в городе {{ city.city }}">{{ city.city }}</a>
				</td>
			{% endfor %}
				</tr>
			</table>

		{% endif %}
{# Если регион не выбран, выводим список регионов #}
	{% else %}
		<table  border="1" cellpadding="2">
			<tr>
		{% for reg in regions %}
			<td>
				<a href="{% url 'device'%}{{ reg }}/" title="Показать подключения в регионе {{ reg }}">{{ reg }}</a>
			</td>
		{% endfor %}
			</tr>
		</table>
	{% endif %}
{% endblock %}

{% block main %}
		<table  border="1" cellpadding="2">
			{% for dev in devices %}
			<tr>
				<td>
					<a href="{% url 'connections_on_dev' dev.pk %}" title="Показать подключения на данном устройстве">
						{{ dev.city }}&nbsp;&nbsp;&nbsp; {{ dev.ip }} {{ dev.model.model }}
					</a>
				</td>
			</tr>
			{% endfor %}
			<tr>
				<td align="right">
{# Пагинатор #}
					{% if city %}
						{% include 'city_paginator.html' %}
					{% elif region %}
						{% include 'region_paginator.html' %}
					{% else %}
						{% include 'all_paginator.html' %}
					{% endif %}

				</td>
			</tr>
		</table>
{% endblock %}