{% extends "base.html" %}

{% block title %}Редактирование устройства{% endblock %}
{% block head %}
		<nav aria-label="breadcrumb">
		  <ol class="breadcrumb">
		  	<li class="breadcrumb-item"><a href="{% url 'device' %}">Все регионы</a></li>
		  </ol>
		</nav>
{% endblock %}

{% block main %}
{% load myfilters %}
	<form action="" method="post">
		<div class="form-group">
			{% csrf_token %}
			{% for f in form %}
					<small id="emailHelp" class="form-text text-muted">{{ f.help_text }}</small>
					{{ f|addclass:'form-control w-25' }}
			{% endfor %}
			<input class="btn btn-outline-secondary" type="submit" name="edit_device" value="Сохранить">
		</div>
	</form>
{% endblock %}