{% extends "base.html" %}

{% block title %}Добаление устройства{% endblock %}
{% block head %}
		<nav aria-label="breadcrumb">
		  <ol class="breadcrumb">
		  	<li class="breadcrumb-item"><a href="{% url 'device' %}">Все регионы</a></li>
		  </ol>
		</nav>
{% endblock %}

{% block main %}
{% load myfilters %}
	<form action="" method="post">
		{% if messages %}
			{% for message in messages %}
				{% if message.tags == "success" %} <div class="alert-success mb-2 w-25">
				{% elif message.tags == "error" %} <div class="alert-danger mb-2 w-25">
				{% else %} <div class="alert-secondary mb-2 w-25">{% endif %}
					{% autoescape off %} {{ message }} {% endautoescape %}
				</div>
			{% endfor %}
		{% endif %}
		<div class="form-group">
			{% csrf_token %}
			{% for f in form %}
				{% if f.errors|length > 0 %}
					<small class="form-text text-muted">{{ f.help_text }}</small>
					{{ f|addclass:'form-control w-25 border border-danger' }}
					<small class="form-text text-muted w-25">
						{{ f.errors }}
					</small>
				{% else %}
					<small class="form-text text-muted">{{ f.help_text }}</small>
					{{ f|addclass:'form-control w-25' }}
				{% endif %}
			{% endfor %}
			<input class="btn btn-outline-secondary" type="submit" name="add_device" value="Добавить">
		</div>
	</form>
{% endblock %}